{% extends 'portfolio/base.html' %}

{% block content %}
    <h1>Rajan's Portfolio</h1>

    {% load static %}
    <a href="{% url 'blog:all_blogs' %}">Blogs</a>
    <br>
    <a href="{% static 'portfolio/Rajan_resume.pdf' %}">Resume</a>
    <br>
    <img src="{% static 'portfolio/Rajan.jpg' %}">

    {% for project in projects %}
        <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
        <img src="{{ project.image.url }}" height=40 width=40>
        {% if project.url %}
            <br><a href="{{ project.url }}">Link</a>
        {% endif %}
    {% endfor %}
{% endblock %}